# This is a basic workflow to help you get started with Actions
name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:

  build:
    # The type of runner that the job will run on
    name: Build
    runs-on: self-hosted
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
