name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run a multi-line script
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SECR }}
        run: |
          mkdir ~/.ssh
          ls ~/.ssh
          echo $SSH_PRIVATE_KEY > ~/.ssh/id_rsa.pub
          echo $SSH_PRIVATE_KEY
          ssh eddiezane@test-srv.itzero.ru
          #cat log.txt
          #sudo apt-get install mc -y
          ls
          #sudo ping -c 2 8.8.8.8
          
