name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run a multi-line script
        run: |
          sudo apt-get install ssh -y
          #sudo apt-get install mc -y
          ls
          #sudo ping -c 2 8.8.8.8
          
