# This is a basic workflow to help you get started with Actions
name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run a multi-line script
        run: |
          mkdir ~/.ssh
          echo $TMP_SSH_KEY > ~/.ssh/id_rsa.pub
          sudo apt-get install expect
          echo -e 'spawn ssh eddiezane@test-srv.itzero.ru\nexpect "yes/no/"\nsend "yes\n"\ninteract\n' > ssh1.sh
          sudo chmod +x ssh1.sh
          ls -la
        env:
          TMP_SSH_KEY: ${{ secrets.SECR }}
