# This is a basic workflow to help you get started with Actions
name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          sudo apt-get install expect
          echo OK1
          echo -e "spawn ssh root@test-srv.itzero.ru\nexpect "yes/no/"\nsend "yes"\nexpect "Password:"\nsend "8403120Pa\n"\ninteract\npwd" > ssh1.sh
          sudo chmod +x ssh1.sh
          ls -la
          /usr/bin/expect -f ssh1.sh
          ip a
          echo test, and deploy your project.



