# Нужно добавить id_rsa.pub ~/.ssh/authorized_keys
name: remote ssh command
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      with:
        host: test-srv.itzero.ru
        username: eddiezane
        #key: ${{ secrets.SECR }}
        key: ${{ secrets.E_PRIVAT_KEY }}
        #key: ${{ secrets.E_PUB_KEY }}
        #password: 8403120
        port: 22
        script: |
          whoami 
          ls
