# Нужно добавить id_rsa.pub ~/.ssh/authorized_keys
name: remote ssh command
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      with:
        host: test-srv.itzero.ru
        username: eddiezane
        key: ${{ secrets.E_PRIVAT_KEY }}
        port: 22
        script: |
          cd /home/eddiezane/project/django-ci-cd && git pull 
          ls -l
